<div class="container">
  <mat-card style="min-height: 500px;" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{news?.title}}</mat-card-title>
      <mat-card-subtitle>{{news?.author}}</mat-card-subtitle>
    </mat-card-header>
    <img style="max-height: 186px;" mat-card-image src="{{news?.urlToImage}}" alt="{{news?.title}}">
    <mat-card-content>
      <p>
        {{news.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [ngClass]="news?.newsId ? 'btn-unfavorite' : 'btn-favorite'" (click)="addOrRemoveFavorite()" [title]="news?.newsId ? 'Remove from favorites' : 'Add to favorites'"
        [color]="news?.newsId ? 'warn' : 'primary'">{{news?.newsId? 'Remove from favorites' : 'Add to favorites'}}</button>
    </mat-card-actions>
  </mat-card>
</div>